.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 25s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20vh;
}

nav {
  background-color: #282c34;
  font-family: 'Permanent Marker', cursive;
}

.info {
  font-size: 15px;
}

.brand-logo {
  font-size: 35px;
}

.App-link {
  color: cornflowerblue;
}

.logo {
  color: cornflowerblue;
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
}

.tab {
  font: Roboto;
}

